<div class="row segment-item" id="our_team">
  <div class="col-xs-12">
    <h2><%= t("about_us.our_team.header") %></h2>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= t("about_us.our_team.content_1_html") %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= t("about_us.our_team.content_2_html") %>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <% t('team').each do |member| %>
        <div class="col-xs-4 member">
          <div class="text-center">
          <%= image_tag("team/#{member[:name].downcase.gsub(' ','_')}.jpg") %>
            <span class="name"><%= member[:name] %></span>
            <span class="position"><%= member[:position] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
