<div class="row segment-item" id="our_values">
  <div class="col-xs-12">
    <h2><%= t("about_us.our_values.header") %></h2>
  </div>

  <div class="col-xs-12 col-sm-8">
    <div class="text-justify" >
      <% t('about_us.our_values.values').each_with_index do |value, i| %>

        <div class="value <%= "value-#{i+1}" %>">
          <span class="name"><%= value[:name] %></span>
          <ul>
            <% value[:items].each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>

      <% end %>
    </div>
  </div>

  <div class="hidden-xs col-sm-4">
    <%= image_tag("about_us/our_values.png",
                  class: "img-rounded img-responsive") %>
  </div>
</div>
